/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    box-sizing: border-box;
    line-height: 1;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-63deg, #c2e9fb 0%, #a1c4fd 100%);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    // content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* box-sizing fix */
/* stylelint-disable-next-line no-duplicate-selectors */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* root font size */
:root {
    font-size: ($font-size-default / 16px) + em;
}

/* universal max-width rule for images */
img {
    max-width: 100%;
}

#info__slide {
    background-position: center;
    width: 100%;
    height: 99vh;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.info__title {
    height: 24px;
    color: #000000;
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: 700;
    padding-top: 160px;
    padding-left: 120px;
}

input,
label {
    margin-left: 90px;
}

input {
    margin-bottom: 15px;
    padding-left: 10px;
    width: 236px;
    height: 40px;
    box-shadow: 0 0 6px rgba(224, 224, 224, 0.5);
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

::placeholder {
    color: #767676;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.slick-slide {
    width: 1440px;
    height: 711px;
    background-position: center;
}

.slick-next {
    width: 171px;
    height: 40px;
    border-radius: 27px;
    border: 1px solid transparent;
    background-color: #3a9acd;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
}

.btn-next {
    position: fixed;
    left: 800px;
    top: 620px;
    padding-right: 10px;
    padding-top: 3px;
}

.btn-link {
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 7px;

}

.btn-pass {
    position: fixed;
    left: 600px;
    top: 620px;
    padding-right: 10px;
    padding-top: 3px;
}

.slick-prev {
    position: fixed;
    left: 120px;
    top: 630px;
    width: 65px;
    z-index: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: #000000;
    font-family: "Helvetica - Light";
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.81px;
}

.slick-dots {
    display: flex;
    position: absolute;
    top: 60px;
    left: 470px;
}

ul {
    margin-left: 30px;
}

li {
    margin-left: 5px;
}

button {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    font-size: 3px;
    padding-right: 0px;
    border: 1px solid black;
    outline: none;
    color: #fff;
    background-color: #fff;
}

.slick-active>button {
    background-color: black;

}

.slick-dots li button {
    text-indent: -9999px;
    height: 8px;
    width: 8px;
}