/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.container {
    max-width: 1126px;
}

body {
    box-sizing: border-box;
    line-height: 1;
    width: 100%;
    height: auto;
    background-image: linear-gradient(-63deg, #c2e9fb 0%, #a1c4fd 100%);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* box-sizing fix */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* root font size */
:root {
    font-size: ($font-size-default / 16px) + em;
}

/* universal max-width rule for images */
img {
    max-width: 100%;
}


.info__slide {
    position: absolute;
    left: 0;
    right: 0;
    margin: 70px auto;
    top: 50%;
    transform: translate(0, -50%);
    background-position: center;
    max-width: 1126px;
    height: 711px;
    background-color: $color-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.info__title {
    height: 24px;
    color: $color-black;
    font-family: $font-family-sans-serif;
    font-size: 22px;
    font-weight: 900;
    padding-top: 160px;
    margin-left: 120px;
}

.info__descr {
    max-width: 251px;
    height: 12px;
    color: #3a9acd;
    font-family: $font-family-sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-left: 120px;
}


input,
label {
    cursor: pointer;
    text-transform: capitalize;
}

input {
    margin-bottom: 15px;
    padding-left: 10px;
    max-width: 236px;
    height: 40px;
    box-shadow: 0 0 6px rgba(224, 224, 224, 0.5);
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: transparent;
}

::placeholder {
    color: #767676;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.btn-next {
    max-width: 171px;
    height: 40px;
    position: relative;
    padding: 7px 59px 10px;
    border-radius: 27px;
    border: 1px solid transparent;
    background-color: #3a9acd;
    color: $color-white;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    left: 200px;
}

.btn-link {
    margin-top: 0;
    padding: 8px 30px 7px;
}

.btn-next_skip {
    position: relative;
    padding-right: 10px;
    padding-top: 7px;
    padding-left: 17px;
    margin-top: 5px;
}

.slick-prev {
    width: 65px;
    outline: none;
    border: none;
    color: #000000;
    font-family: $font-family-sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.81px;
}

.js-btn {
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.box-error {
    position: absolute;
    top: 30px;
    left: 30px;
}

.info__prev_arrow {
    margin-top: 13px;
    margin-right: 10px;
}