// insert @font-face rules here
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url(../fonts/HelveticaRegular.woff) format("woff");
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url(../fonts/HelveticaLight.woff) format("woff");
}
