/**
 * Styles for the home block.
 */
.home {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code
    @media screen and (max-width : 767px) {

        .home {
            &__title {
                text-align: center;
                margin-left: 0;
                margin-top: 25px;
            }

            &__subtitle {
                font-size: 18px;
                margin-left: 20px;
                text-align: center;
            }

            &__btn {
                margin-top: 0;
                margin-left: 60px;
            }

            &__man,
            &__path,
            &__plane,
            &__build,
            &__dot {
                display: none;
            }

            &__price {
                margin-left: 15px;
                margin-top: 55px;
                text-align: center;
            }
        }
    }

    // @media only screen and (min-width : 768px) and (max-width : 1199px) {
    //     .home {
    //         &__title {
    //             text-align: center;
    //             margin-top: 25px;
    //         }

    //         &__subtitle {
    //             font-size: 18px;
    //             margin-left: 20px;
    //             text-align: center;
    //         }

    //         .btn__descr {
    //             margin-top: 0;
    //             text-align: center;
    //         }

    //         &__man,
    //         &__path,
    //         &__plane,
    //         &__build,
    //         &__dot {
    //             display: none;
    //         }

    //         &__price {
    //             margin-left: 15px;
    //             margin-top: 55px;
    //             text-align: center;
    //         }
    //     }
    // }

    // @media screen and (min-width: 1200px) and (max-width : 1823px) {
    //     .home {
    //         &__title {
    //             margin-top: 225px;
    //         }

    //         &__plane {
    //             margin-top: 195px;
    //         }

    //         &__path {
    //             margin-top: 215px;
    //         }

    //     }
    // }

    @media only screen and (min-width : 1824px) {}

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__title {
        height: 48px;
        color: #000000;
        font-family: Helvetica;
        font-size: 46px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 100px;
        margin-left: 0px;
    }

    &__subtitle {
        width: 700px;
        height: 230px;
        color: #000000;
        font-family: Helvetica;
        font-size: 36px;
        font-weight: 300;
        line-height: 46px;
        margin-top: 50px;
    }

    &__btn {
        text-decoration: none;
    }

    &__price {
        color: #000000;
        font-family: "Helvetica";
        font-size: 18px;
        font-weight: 700;
        margin-top: 100px;
    }

    &__man {
        position: absolute;
        top: -150px;
        left: 0px;
    }

    &__plane {
        margin-top: 60px;
        margin-left: 105px;
    }

    &__path {
        margin-top: 85px;
        margin-left: -28px;
        width: 100%;
        height: auto;
    }

    &__build {
        position: absolute;
        margin-left: 55px;
        margin-top: -230px;
    }

    &__dot {
        position: absolute;
        margin-left: 102px;
        margin-top: -115px;
    }

    // Bem modifiers
    // TODO: add code
    .btn__descr {
        color: #ffffff;
        font-family: "Helvetica";
        font-size: 18px;
        letter-spacing: 1px;
        padding-left: 45px;
        padding-top: 7px;
        margin-top: 80px;
        width: 206px;
        height: 40px;
        border-radius: 27px;
        background-color: #3a9acd;
    }
}