/**
 * Styles for the home block.
 */
.home {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__title {
        width: 215px;
        height: 48px;
        color: #000000;
        font-family: Helvetica;
        font-size: 46px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 100px;
        margin-left: 60px;
    }

    &__subtitle {
        width: 632px;
        height: 230px;
        color: #000000;
        font-family: "Helvetica - Light";
        font-size: 32px;
        font-weight: 300;
        line-height: 46px;
        margin-top: 50px;
        margin-left: 60px;
    }

    &__btn {
        width: 206px;
        height: 40px;
        border-radius: 27px;
        background-color: #044568;
        margin-top: 100px;
        margin-left: 60px;
        text-decoration: none;
    }

    &__price {
        width: 325px;
        height: 20px;
        color: #000000;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: 700;
        margin-top: 105px;
        margin-left: 60px;
    }

    &__man {
        position: absolute;
        top: -150px;
        left: 0px;
    }

    &__plane {
        margin-top: 85px;
        margin-left: 100px;
    }

    &__path {
        margin-top: 115px;
        margin-left: -28px;
    }

    &__build {
        position: absolute;
        margin-left: 55px;
        margin-top: -130px;
    }

    &__dot {
        position: absolute;
        margin-left: 102px;
        margin-top: -20px;
    }

    // Bem modifiers
    // TODO: add code
    .btn__descr {
        color: #ffffff;
        font-family: "Helvetica";
        font-size: 18px;
        letter-spacing: 1px;
        padding-left: 45px;
        padding-top: 7px;
        margin-left: 55px;
        margin-top: 30px;
        width: 206px;
        height: 40px;
        border-radius: 27px;
        background-color: #3a9acd;
    }
}