//-
    name: home
    description: Markup for the home block
    arguments:
        - {object} props - block properties

mixin home(data = {})
    .home&attributes(attributes)
        .container
            .row
                .col-md-6.col-sm-12
                    h1.home__title=data.title
                    p.home__subtitle!=data.subtitle
                .col-md-6.col-sm-12
                    .row
                        .col-md-4
                            img.home__plane(src="./img/Shape.png", alt="alt")
                        .col-md-8
                            img.home__path(src="./img/Path.png", alt="alt")
            .row
                .col-md-7.col-sm-12
                    a.home__btn(href="./info.html")
                        p.btn__descr=data.btn
                    p.home__price=data.price
                .col-md-5.col-sm-12
                    .row
                        .col-md-8
                            img.home__man(src="./img/business-presentation-2253131_1920.png", alt="alt")
                        .col-md-4
                            img.home__build(src="./img/building.png", alt="alt")
                            img.home__dot(src="./img/dot.png", alt="alt")