.last {
    overflow: hidden;

    &__lastPageDescr {
        max-width: 600px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 36px;
        line-height: 46px;
        margin-top: 160px;
        margin-left: 100px;
    }

    &__wait {
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 36px;
        font-weight: 700;
        margin-top: 65px;
        margin-left: 105px;
    }

    &__advice {
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 20px;
    }

    &__footer {
        position: relative;
        display: flex;
        margin-left: -30px;
        margin-top: 300px;
    }

    &__mail {
        width: 293px;
        height: 22px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
    }

    &__rocket {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}