.info {
    // @media only screen and (min-width: 1200px) {
    //  
    // }

    &__logo {
        position: absolute;
        margin-top: 33px;
        margin-left: 33px;
        margin-bottom: 30px;
    }

    &__pic_woman {
        position: relative;
        top: 5px;
        left: 250px;
    }

    &__path_two {
        position: relative;
        left: 445px;
        top: -115px;
    }

    &__radio {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }

    &__upperChoice {
        margin-top: 105px;
        margin-left: 168px;
        display: flex;
    }

    &__lowerChoice {
        margin-top: 30px;
        margin-left: 168px;
        display: flex;
    }

    #first,
    #second {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: -15px;
        box-shadow: none;
    }

    &__choice {
        height: 18px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin-left: 0;
        margin-top: 0;
    }

    &__man {
        position: absolute;
        left: 500px;
    }

    &__fio {
        color: #010000;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        font-weight: 900;
        margin-left: 153px;
        margin-top: 62px;
        margin-bottom: 10px;
    }

    &__fio_fields {
        display: flex;
        flex-direction: column;
        margin-left: 152px;
    }

    &__descr_fio {
        margin-left: 0;
        margin-top: 10px;
    }

    &__btn_next {
        display: flex;
        flex-direction: column;
    }


    &__slide_third {
        background-image: url("./img/page4/2-layers.png");
    }

    &__passport {
        margin-left: 153px;
        margin-top: 62px;
        font-weight: 900;
        color: #030000;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__idPass {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 152px;
        font-weight: 900;
        color: #030000;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__upper {
        margin-left: 152px;
        margin-top: 10px;
        display: flex;
    }

    #info__pasNumb {
        margin-left: 150px;
    }

    #info__series {
        width: 70px;
        height: 40px;
        margin-left: 0;
        text-transform: uppercase;
    }

    #info__series::placeholder {
        text-transform: capitalize;
    }

    #info__numb {
        width: 157px;
        height: 40px;
        margin-left: 10px;
    }

    #info__ssn {
        margin-left: 150px;
    }

    #info__form {
        margin-top: 17px;
        margin-left: 100px;
    }

    &__slide_fourth {
        background-image: url("./img/page5/5-layers.png");
    }

    &__adress {
        margin-top: 62px;
        color: #030000;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 152px;
    }

    .location {
        margin-left: 150px;
        margin-top: 5px;
    }

    &__btn_prev {
        display: flex;
        margin-top: 122px;
        margin-left: 175px;
    }

    &__prev_arrow {
        margin-top: 10px;
    }

    #btn-previous {
        margin-top: 14px;
        margin-left: 0;
    }

    &__slide_fifth {
        background-image: url("./img/page6/contactPage.png");
    }

    &__contactTitle {
        height: 24px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-left: 115px;
        padding-top: 150px;
        margin-bottom: 60px;
    }

    &__phone,
    &__email {
        color: #767676;
        font-family: "PT Sans Caption", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.26px;
        margin-top: 15px;
    }

    &__contact {
        margin-top: 20px;
        margin-left: 115px;
    }

    #phone,
    #email {
        width: 45%;
        height: 40px;
        margin-top: 5px;
        margin-left: 0;
        text-transform: lowercase;
    }

    &__slide_sixth {
        background-image: url("./img/page7/Path_2.png");
    }

    &__payTitle {
        height: 24px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding-top: 140px;
        margin-left: 120px;
    }

    &__paySubtitle {
        height: 18px;
        color: #000000;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin-top: 100px;
        margin-left: 120px;
    }

    .slick-next__first {
        left: 200px;
        top: -100px;
    }

    .slick-next_second {
        top: 400px;
        left: 200px;
    }

    .slick-next_third {
        top: 300px;
        left: 200px;
    }

    .btn-pass_third {
        left: 26px;
        top: 365px;
    }

    &__btn_prev_third {
        margin-top: 54px;
    }

    .slick-next_fourth {
        top: 360px;
        left: 200px;
    }

    .info__btn_fourth {
        margin-top: 15px;
    }

    .slick-next_fifth {
        top: 340px;
        left: 140px;
    }

    .slick-next_sixth {
        top: 400px;
        left: 280px;
    }

}