/**
 * Styles for the info block.
 */
.info {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__firstSlide {
        background-image: url(../img/page2/5-layers.png);
    }

    &__radio {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }

    &__upperChoice {
        margin-top: 5px;
        display: flex;
    }

    &__lowerChoice {
        margin-top: 60px;
        display: flex;
    }

    #first,
    #second {
        margin-left: 100px;
        width: 15px;
        height: 15px;
    }

    &__choice {
        height: 18px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
        margin-left: 0;
        margin-top: 0;
    }

    &__secondSlide {
        background-image: url(../img/page3/thirdPage.png);
        position: relative;
    }

    &__fio {
        color: #010000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        font-weight: 900;
        margin-left: 105px;
        margin-top: 62px;
    }

    &__thirdSlide {
        background-image: url(../img/page4/2-layers.png);
    }

    &__passport {
        margin-left: 120px;
        margin-top: 62px;
        font-weight: 900;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__idPass {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 120px;
        font-weight: 900;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__upper {
        margin-top: 5px;
        display: flex;
    }

    &__lower {
        margin-top: 60px;
        display: flex;
    }

    #info__pasNumb {
        margin-left: 116px;
    }

    #info__series {
        width: 70px;
        height: 40px;
        margin-left: 0px;
    }

    #info__numb {
        width: 157px;
        height: 40px;
        margin-left: 10px;
    }

    #info__ssn {
        margin-left: 115px;
    }

    #info__form {
        margin-top: 17px;
        margin-left: 100px;
    }

    &__descr {
        margin-left: 115px;
    }

    &__fourthSlide {
        background-image: url(../img/page5/5-layers.png);
    }

    &__adress {
        margin-top: 62px;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 118px;
    }

    #info__location {
        margin-top: 15px;
        margin-left: 115px;
    }

    &__fifthSlide {
        background-image: url(../img/page6/contactPage.png);
    }

    &__contactTitle {
        height: 24px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-left: 115px;
        padding-top: 150px;
        margin-bottom: 60px;
    }

    &__phone,
    &__email {
        color: #767676;
        font-family: "PT Sans Caption";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.26px;
        margin-top: 15px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 115px;
    }

    #phone,
    #email {
        width: 45%;
        height: 40px;
        margin-top: 5px;
        margin-left: 0;
    }

    &__sixthSlide {
        background-image: url(../img/page7/Path_2.png);
    }

    &__payTitle {
        height: 24px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding-top: 140px;
        margin-left: 120px;
    }

    &__paySubtitle {
        height: 18px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
        margin-top: 100px;
        margin-left: 120px;
    }

    // &__wait {
    //     width: 181px;
    //     height: 39px;
    //     color: #000000;
    //     font-family: "Helvetica", sans-serif;
    //     font-size: 36px;
    //     font-weight: 700;
    // }

    // &__lastPageDescr {
    //     width: 570px;
    //     height: 184px;
    //     color: #000000;
    //     font-family: "Helvetica", sans-serif;
    //     font-size: 36px;
    //     line-height: 46px;
    // }

    // Bem modifiers
    // TODO: add code
}