/**
 * Styles for the info block.
 */
.info {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code
    @media screen and (min-width : 1200px) {}

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__firstSlide {
        background-color: #fff;
    }

    &__pic--woman {
        position: relative;
        top: -18px;
        left: 250px;
    }

    &__path--two {
        position: relative;
        left: 560px;
        top: 140px;
    }

    &__radio {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }

    &__upperChoice {
        margin-top: 105px;
        display: flex;
    }

    &__lowerChoice {
        margin-top: 30px;
        display: flex;
    }

    #first,
    #second {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: -15px;
        box-shadow: none;
    }

    &__choice {
        height: 18px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
        margin-left: 0;
        margin-top: 0;
    }

    &__secondSlide {
        background-image: url(../img/page3/thirdPage.png);
        position: relative;
    }

    &__fio {
        color: #010000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        font-weight: 900;
        margin-left: 140px;
        margin-top: 62px;
        margin-bottom: 10px;
    }

    &__fio--fields {
        margin-left: 20px;
    }

    &__descr--fio {
        margin-left: 105px;
        margin-top: 10px;
    }


    &__thirdSlide {
        background-image: url(../img/page4/2-layers.png);
    }

    &__passport {
        margin-left: 153px;
        margin-top: 62px;
        font-weight: 900;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__idPass {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 152px;
        font-weight: 900;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__upper {
        margin-left: 135px;
        margin-top: 5px;
        display: flex;
    }

    #info__pasNumb {
        margin-left: 150px;
    }

    #info__series {
        width: 70px;
        height: 40px;
        margin-left: 0px;
        text-transform: uppercase;
    }

    #info__series>::placeholder {
        text-transform: capitalize;
    }

    #info__numb {
        width: 157px;
        height: 40px;
        margin-left: 10px;
    }

    #info__ssn {
        margin-left: 150px;
    }

    #info__form {
        margin-top: 17px;
        margin-left: 100px;
    }

    &__fourthSlide {
        background-image: url(../img/page5/5-layers.png);
    }

    &__adress {
        margin-top: 62px;
        color: #030000;
        font-family: "Helvetica", sans-serif;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 152px;
    }

    .location {
        margin-left: 33px;
        margin-top: 5px;
    }

    &__btn--prev {
        display: flex;
        margin-top: 15px;
        margin-left: 160px;
    }

    &__prev--arrow {
        margin-top: 10px;
    }

    .btn-next {
        margin-top: 50px;
    }

    #btn-previous {
        margin-top: 61px;
        margin-left: 15px;
    }

    &__fifthSlide {
        background-image: url(../img/page6/contactPage.png);
    }

    &__contactTitle {
        height: 24px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-left: 115px;
        padding-top: 150px;
        margin-bottom: 60px;
    }

    &__phone,
    &__email {
        color: #767676;
        font-family: "PT Sans Caption";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.26px;
        margin-top: 15px;
    }

    &__contact {
        margin-top: 20px;
        margin-left: 115px;
    }

    #phone,
    #email {
        width: 45%;
        height: 40px;
        margin-top: 5px;
        margin-left: 0;
        text-transform: lowercase;
    }

    &__sixthSlide {
        background-image: url(../img/page7/Path_2.png);
    }

    &__payTitle {
        height: 24px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding-top: 140px;
        margin-left: 120px;
    }

    &__paySubtitle {
        height: 18px;
        color: #000000;
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
        margin-top: 100px;
        margin-left: 120px;
    }

    // &__wait {
    //     width: 181px;
    //     height: 39px;
    //     color: #000000;
    //     font-family: "Helvetica", sans-serif;
    //     font-size: 36px;
    //     font-weight: 700;
    // }

    // &__lastPageDescr {
    //     width: 570px;
    //     height: 184px;
    //     color: #000000;
    //     font-family: "Helvetica", sans-serif;
    //     font-size: 36px;
    //     line-height: 46px;
    // }

    // Bem modifiers
    // TODO: add code
}