//-
    name: choice
    description: Markup for the choice block
    arguments:
        - {object} props - block properties

mixin choice(data = {})
    .choice&attributes(attributes)
        .container
            .choice__firstSlide
                h1.choice__title=data.title
                form.choice__form(action="" method="get")
                    .col-md-6.choice__upper
                        input#first(type="radio", name="")
                        label.choice__descr(for="#first")=data.first
                    .col-md-6.choice__lower
                        input#second(type="radio", name="")
                        label.choice__descr(for="#second")=data.second